.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  .swiper-button-prev,
  .swiper-button-next {
    color: #000;
  }
  p {
    font-size: 28px;
    text-align: center;

    padding-bottom: 20px;
  }
  .custom-swiper-slider {
    width: 80vw;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s, filter 0.3s;
    }

    .swiper-slide img {
      border-radius: 0;
      width: 300px;
      height: auto;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
      transform: scale(0.8);
      filter: brightness(50%);
    }

    .swiper-slide-active {
      transform: scale(1);
      filter: brightness(100%);
    }
  }
}
